{
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {
            "loose": true
        }],
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "@state": "./src/state",
                "@components": "./src/components",
                "@services": "./src/services",
                "@utils": "./src/utils"
            }
        }]
    ],
    "presets": ["@babel/preset-env", "@babel/preset-react"]
}
