$formControlHeight : calc(1.5em + 0.75rem + 2px);
$formControlColor : #495057;
$formControlRadius : 0.25em;
$formControlBorder: 1px solid #ced4da;
$gradientColor: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
.custom-date-picker {
    display: block;
    width: 100%;
    height: $formControlHeight;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $formControlColor;
    background-color: #fff;
    background-clip: padding-box;
    border: $formControlBorder;
    border-radius: $formControlRadius;
}

.react-datepicker-wrapper {
    width: 100%;
}

.margin-top {
    margin-top: 15px;
}

.navBar {
    justify-content: center;
    background-image: $gradientColor;
}
.nav-link span {
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.btn-primary {
    border: $formControlBorder;
    width: 100%;
}


.info-window-button-col button{
    width: 100%;
}

.btn.btn-primary[disabled] {
    background-color: $formControlColor;
    color: #fff;
}

.calculator-icon {
    color: #2cb5e8;
}
.card {
    padding: 15px;
    margin-top: 15px;
}
.text-align-right {
    text-align: right;
}

.link-card {
    background-color: #e6e6e6;
}
@media only screen and (max-width: 600px) {
    .mobile-device-input {
        width: 100px;
    }
}
